body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
  line-height: 1.07;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
}
/* #region-HEADER */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
}
.logo-span-footer {
  color: #f4f4fd;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contacts {
  color: #2e2f42;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* #endregion-HEADER */

/* #region-MAIN */
.our-team {
  background-color: #f4f4fd;
}
/* #endregion-MAIN */

/* #region-FOOTER */
.footer {
  background-color: #2e2f42;
}
.footer-title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
/* #endregion-FOOTER */
